{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure            {:mvn/version "1.12.4"}
  babashka/fs                    {:mvn/version "0.5.30"}
  buddy/buddy-hashers            {:mvn/version "2.0.167"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  com.cnuernber/charred          {:mvn/version "1.037"}
  com.taoensso/telemere          {:mvn/version "1.2.1"}
  environ/environ                {:mvn/version "1.2.0"}
  hiccup/hiccup                  {:mvn/version "2.0.0"}
  io.github.nextjournal/markdown {:mvn/version "0.7.222"}
  io.github.tonsky/clj-simple-stats {:mvn/version "1.1.0"}
  metosin/reitit-ring            {:mvn/version "0.9.2"}
  org.slf4j/slf4j-nop            {:mvn/version "2.0.17"}
  ring/ring-defaults             {:mvn/version "0.7.0"}
  ring/ring-devel                {:mvn/version "1.15.3"}
  http-kit/http-kit              {:mvn/version "2.9.0-beta3"}
  timeout-shell/timeout-shell    {:mvn/version "1.0.0"}
  ;;
  io.github.hkimjp/carmine-farm  {:git/tag "0.3.0" :git/sha "8e7b1f1"}
  io.github.hkimjp/datascript-storage-javatime
  {:git/tag "0.7.6" :git/sha "815ae05"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}
   :jvm-opts    ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                 "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                 "--enable-native-access=ALL-UNNAMED"]}
  :run-m {:main-opts ["-m" "hkimjp.konpy2.main"]
          :jvm-opts  ["--enable-native-access=ALL-UNNAMED"]}
  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.5.1"}}
   :main-opts  ["-m" "nrepl.cmdline"]}

;; should not remove. build uses.
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.2"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :neil {:project {:name hkimjp/konpy2}}}}
